/.github/
/.husky/
/cypress/
/templates/
/log/
/tmp/
/dist/
/public/esm-bundle/
/public/packs-test/
/public/system/
/public/storage/
/storage/
/public/uploads/
/spec/
/coverage/
/node_modules/
/packages/brickdoc-design-system/docs/
/packages/brickdoc-design-system/.storybook
/packages/*/spec/
Dockerfile
.env.*
.rspec
.gitignore
.czrc
.*.yml
!.yarnrc.yml
.DS_Store
.gitattributes
.gitignore
.eslint*
.prettier*